[submodule "templates/glawit"]
	path = templates/glawit
	url = https://github.com/glawit/cloudformation.git
	branch = develop
[submodule "glawit/core"]
	path = glawit/core
	url = ssh://github/glawit/core.git
[submodule "glawit/interface-apigw"]
	path = glawit/interface-apigw
	url = ssh://github/glawit/interface-apigw.git
